.row-fluid
    .span12(align="center") 
        h3.muted Are the Giants Playing at Home?
.row-fluid
    .span3(align="center").well
        h4.muted Yesterday
        if schedule.yesterday
            .row-fluid
                .span6 #{schedule.yesterday.teams.home}
                .span6 #{schedule.yesterday.teams.away}
            .row-fluid
                .span6 #{schedule.yesterday.scores.home}
                .span6 #{schedule.yesterday.scores.away}
                hr
                #{schedule.yesterday.start}
        else
            h5.muted No Game
    .span6(align="center") 
        if schedule.today
            .row
                h3 Today
            .row #{schedule.today.summary}
            .row
        else
            .row
                h3.muted No Game
                
    .span3(align="center").well
        h4 Tomorrow
        if schedule.tomorrow 
            .row-fluid #{schedule.tomorrow.summary}
        else
            h5.muted No Game
.row-fluid
    .span12(align="center") #{schedule.today.start}