#schedule.row-fluid
    .span12(align="center") 
        .row-fluid
            if ( search.display == "Yesterday" )
                h4.muted Did the Giants Play #{search.display}? 
            else
                h4.muted Are the Giants Playing #{search.display}? 
        .row-fluid
            if schedule.day_of
                if schedule.day_of.teams.home == 'San Francisco'
                    h2 Yup
                else
                    if ( search.display == "Yesterday" )
                        h6.muted(style="line-height:2px;") Yes, but they were
                    else
                        h6.muted(style="line-height:2px;") Yes, but they're 
                    h2 Away
            else
                h2 Nope
hr
.row-fluid &nbsp;
.row-fluid
    .span9(align="center") 
        if schedule.day_of
            .row-fluid
                .span5
                    #teamCity.row-fluid.muted Team City
                    #teamName.row-fluid 
                        h3 Team
                    #teamInfo.row-fluid.team-record
                    .row-fluid &nbsp;
                    if schedule.day_of.inTheFuture
                        #teamProbables.row-fluid
                            .row-fluid.pitcher_name Name
                            .row-fluid.pitcher_info Info
                    else
                        #teamScore.row-fluid
                            h1 0
                .span2
                    .row &nbsp;
                    #vsat.row 
                        if schedule.day_of.teams.home == 'San Francisco'
                            h2.muted vs
                        else 
                            h2.muted @
                    #dayof-gametime-title.row.muted
                    #dayof-gametime.row
                        h3 Time
                .span5
                    #oppCity.row-fluid.muted Opp City
                    #oppName.row-fluid 
                        h3 Opp
                    #oppInfo.row-fluid.opp-record
                    .row-fluid &nbsp;
                    if schedule.day_of.inTheFuture
                        #oppProbables.row-fluid
                            .row-fluid.pitcher_name Name
                            .row-fluid.pitcher_info Info
                    else
                        #oppScore.row-fluid
                            h1 0
                    .row-fluid &nbsp;
            #gameLocation.row.muted(align="center") Location Info
        else
            .row
                h3.muted Dang... no game today
                
    #nextgame.span3(align="center").well
        if search.display == 'Yesterday'
            if (schedule.day_after)
                h4 #{schedule.day_after.displayDay}
            else
                h4 Today
        else
            if (schedule.day_after)
                h4 #{schedule.day_after.displayDay}
            else
                h4 #{schedule.next_game.displayDay}
        if schedule.day_after 
            .row-fluid
            if schedule.day_after.teams.home == 'San Francisco'
                .row-fluid(align="center") At Home vs
                .row-fluid(align="center")
                    h3 #{schedule.day_after.teams.away}
            else
                .row-fluid(align="center") Away at
                .row-fluid(align="center") 
                    h3 #{schedule.day_after.teams.home}
        else
            h5.muted No Game
            hr
            h6.muted Next Game: 
            if (! schedule.day_after )
                h4 #{schedule.next_game.displayDay}
            if schedule.next_game.teams.home == 'San Francisco'
                .row-fluid(align="center") At Home vs
                .row-fluid(align="center")
                    h3 #{schedule.next_game.teams.away}
            else
                .row-fluid(align="center") Away at
                .row-fluid(align="center") 
                    h3 #{schedule.next_game.teams.home}
                .row-fluid
        #nextgame_time.row-fluid Game Time:
            h4 
#upcoming.row
    include schedule/upcoming

script(type="text/javascript", src="/js/schedule.js")