if (locals.data.games)
    each game, date in data.games
        if game.isGame
            .span2
                if game.gameData.home_code == config.site.mlb.code
                    .row-fluid(align="center").day #{game.formatDay.ddd} 
                    .row-fluid(align="center").vsat vs
                    .row-fluid(align="center").opp #{game.gameData.away_team_name}
                    .row-fluid(align="center").opprecord (#{game.gameData.home_win} - #{game.gameData.away_loss})
                    .row-fluid(align="center").gametime  #{game.gameData.home_time} #{game.gameData.home_ampm}
                else
                    .row-fluid(align="center").day #{game.formatDay.ddd} 
                    .row-fluid(align="center").vsat @
                    .row-fluid(align="center").opp #{game.gameData.home_team_name}
                    .row-fluid(align="center").opprecord (#{game.gameData.home_win} - #{game.gameData.home_loss})
                    .row-fluid(align="center").gametime  #{game.gameData.away_time} #{game.gameData.away_ampm}
                    
                .row-fluid(align="center").morelink  TV: #{game.gameData.tv_station}
                
        else
            .span2 
                .row-fluid(align="center").day #{game.formatDay.ddd} 
                .row-fluid(align="center").nogame No Game
else
    .span12.notloaded Loading...